@model IEnumerable<MVC_WebScrapper.Models.WebScrapperModel>

@section AddToHead{
    <link href="@Url.Content("~/Content/WebScrappers.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "WebScrappers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model == null)
    {
        @Html.Partial("~/Views/Shared/Partials/EmptyModel.cshtml")
    }
    else
    {
        <h2>WebScrappers</h2>
        <hr />

        <div class="section group">
            @foreach (var item in Model)
            {

                <div class="col span_1_of_5">
                    <a href='@Url.Action("Categories", "CNBC")'>
                        <img src="@Html.DisplayFor(modelItem => item.Img)" style="width:100%">
                        <div class="container card_desc">
                            <h4><b>@Html.DisplayFor(modelItem => item.Name)</b></h4>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                    </a>
                    
                </div>
            }
        </div>

    }
}

